
@import url("https://fonts.googleapis.com/css?family=Arvo");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
background: url(/grey.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: 'Josefin Sans', sans-serif;
}

body {
  background: transparent;
}

.nav {
  background-color: #1A2930;
  font-family: 'Elianto';
}

.story-link {
  float: right;
}

.card-title {
 text-shadow: 0 1px 0 black;
}

.tag {
  font-size: xx-large;
}

.small {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
  object-fit: cover;
}

.media-box {
  border: 1px solid black;
  background-color: white;
  font-size: 120%;
  font-family: 'Arvo', serif;
  width: 50%;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
}

.media-box:hover {
  border: 3px solid black;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.7);
}

.media-head {
  display: -webkit-box;
}

.media-tag {
  font-family: 'Josefin Sans', sans-serif;
}








