html {
background: url(/dots.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.jumbotron {
  border: 1px solid black;
  height: 70%;
  width: 80%;
  margin: auto;
  background-color: white;
}

.pic-size {
   width: 100%;
  height: 50%;
}

.image {
  width: 65%;
  height: 50%;
  left: 50%;
  margin: 3px auto;
}

.text-size {
  width: 50%;
  border: 1px solid black;
  margin: 3px auto;
  padding: 3px;
  background-color: white;
}

.nav {
  background-color: white;
  border: 1px solid black;
}



